{% extends "::content.html.twig" %}

{% block contentHeaderModal %}
    Series de Facturas
{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            frondendFacturas.funcionesAddOnload();	
        }); 
    </script>
{% endblock %}
           
{% block contentBodyModal %}
    
    <form class="form-horizontal" id="filtersForm">
        <div id="accordionFilters" class="accordion" >
        <div class="accordion-group">
        <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionFilters" href="#collapseFilters">
        Filtrar resultados
        </a>
        </div>    
        <div id="collapseFilters" class="accordion-body collapse">
        <div class="accordion-inner">
            
         <div class="row-fluid">
         <div class="span5">
            <div class="control-group">
                <label class="control-label" for="identificador">Id:</label>
            <div class="controls">
                <input type="text" id="identificador" name="identificador" placeholder="Filtrar por identificador" />
            </div>
            </div>       
         </div>
         <div class="span5" >
            <div class="control-group">
                <label class="control-label" for="servicio">Servicio:</label>
            <div class="controls">
                <input type="text" id="servicio" name="servicio" placeholder="Filtrar por servicio" />
            </div>
            </div>      
         </div>     
       </div>  
       
       <div class="row-fluid">
         <div class="span5">
            <div class="control-group">
                <label class="control-label" for="estacion">Estación:</label>
            <div class="controls">
                <input type="text" id="estacion" name="estacion" placeholder="Filtrar por estación" />
            </div>
            </div>       
         </div>
         <div class="span5">
            <div class="control-group">
                <label class="control-label" for="empresa">Empresa:</label>
            <div class="controls">
                <input type="text" id="empresa" name="empresa" placeholder="Filtrar por empresa" />
            </div>
            </div>       
         </div>  
       </div>   
       <div class="row-fluid">
         <div class="span5">
            <div class="control-group">
                <label class="control-label" for="fechaEmision">Fecha de Emisión:</label>
            <div class="controls">
                <input type="text" id="fechaEmision" name="fechaEmision" placeholder="Filtrar por fecha de emisión" />
            </div>
            </div>       
         </div>
         <div class="span5">
         <div class="control-group"> 
                <label class="control-label" for="fechaApertura">Fecha de Vencimiento:</label>
           <div class="controls">
                <input type="text" id="fechaVencimiento" name="fechaVencimiento" placeholder="Filtrar por fecha de vencimiento" />
           </div>
        </div>   
        </div>
       </div>
       <div class="row-fluid">
         <div class="span5">
            <div class="control-group">
                <label class="control-label" for="serie">Serie:</label>
            <div class="controls">
                <input type="text" id="serie" name="serie" placeholder="Filtrar por serie" />
            </div>
            </div>       
         </div>
         <div class="span5">
         <div class="control-group"> 
                <label class="control-label" for="valor">Valor:</label>
           <div class="controls">
                <input type="text" id="valor" name="valor" placeholder="Filtrar por valor" />
           </div>
        </div>   
        </div>
       </div> 
       <div class="row-fluid">
         <div class="span5">
            <div class="control-group">
                <label class="control-label" for="serie">Mínimo:</label>
            <div class="controls">
                <input type="text" id="minimo" name="minimo" placeholder="Filtrar por minimo" />
            </div>
            </div>       
         </div>
         <div class="span5">
         <div class="control-group"> 
                <label class="control-label" for="valor">Máximo:</label>
           <div class="controls">
                <input type="text" id="maximo" name="maximo" placeholder="Filtrar por maximo" />
           </div>
        </div>   
        </div>
       </div>      
            
            
       <div class="control-group">
       <div class="controls"> 
            <a id="linkFilter" class="btn btn-primary" type="submit" href="#"><i class="icon-filter icon-white"></i> Filtrar</a>
       </div>
       </div> 
    
    </div>
    </div>
    </div>
    </div>
    </form>

    {{ renderMenu('menuFacturas') }}
    
    <table id="grid" style="display:none" data-url="{{url('facturas-listarPaginado')}}"></table>
   

{% endblock %}

{% block contentFooterModal %}
    
{% endblock %}






