

{#<img class="img-rounded" src="{{ asset('bundles/acmebackend/images/logo.gif') }}" alt=""/> #}
     <div class="hero-unit">            
        <h2>Transporte Fuente del Norte</h2>
        <p></p>  
        
     {#   <div class="noticias">
            Lista de la últimas tres noticias que deben ser de conocimiento de todos los empleados.
            Se tendra e cuenta el rol a la hora de mostrar las noticias. Ejemplos
            <ul>
                <li><a href="#">Fecha - Orientación para todos los vendedores...</a></li>
                <li><a href="#">Fecha - Orientación de como realizar algo...</a></li>
                <li><a href="#">Fecha - Nuevo procedimiento para...</a></li>
            </ul>
        </div>#}
        
      </div>

      <div class="row-fluid">
            <div class="span6">
              <h3>Visión</h3>
              <p>Ser la empresa líder en transporte de pasajeros y encomiendas de Guatemala.</p>
              <p><a class="btn" href="#">Ver detalles &raquo;</a></p>
            </div>
            <div class="span6">
              <h3>Misión</h3>
              <p>Brindar servicios de excelencia y calidad a nuestros pasajeros.</p>
              <p><a class="btn" href="#">Ver detalles &raquo;</a></p>
            </div>
{#            <div class="span4">
              <h2>Ayuda</h2>
              <p>El sistema ofrece manuales para que lograr que los usuarios exploten al máximo sus potencialidades.</p>
              <p><a class="btn" href="#">Ver detalles &raquo;</a></p>
            </div>#}
    </div><!--/row-->
          
    


