{% extends "::content.html.twig" %}

{% block contentHeaderModal %}
    Alquiler de Buses
{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            frondendAlquiler.funcionesAddOnload();	
        }); 
    </script>
{% endblock %}
           
{% block contentBodyModal %}
    
    <form class="form-horizontal" id="filtersForm">
        <div id="accordionFilters" class="accordion" >
        <div class="accordion-group">
        <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionFilters" href="#collapseFilters">
        Filtrar resultados
        </a>
        </div>    
        <div id="collapseFilters" class="accordion-body collapse">
        <div class="accordion-inner">
            
        <div class="row-fluid">
        <div class="span5">
            <div class="control-group">
                <label class="control-label" for="identificador">Id:</label>
            <div class="controls">
                <input type="text" id="identificador" name="identificador" placeholder="Filtrar por identificador" />
            </div>
            </div>       
        </div>
        <div class="span5">
            <div class="control-group"> 
                <label class="control-label" for="empresa">Empresa:</label>
            <div class="controls">
                <input id="empresa" name="empresa" type="text" placeholder="Filtrar por empresa" />
            </div>
            </div> 
        </div>
        </div>
            
        <div class="row-fluid">
        <div class="span5">
            <div class="control-group">
                <label class="control-label" for="rangoFecha">Fecha Inicial:</label>
            <div class="controls">
                <input type="text" id="rangoFecha" name="rangoFecha" placeholder="Filtrar por fecha" />
            </div>
            </div>       
        </div>
        <div class="span5">
            <div class="control-group"> 
                <label class="control-label" for="bus">Bus:</label>
            <div class="controls">
                <input id="bus" name="bus" type="text" placeholder="Filtrar por bus" />
            </div>
            </div> 
        </div>
        </div>    
        
        <div class="row-fluid">
        <div class="span5">
            <div class="control-group">
                <label class="control-label" for="piloto">Código Piloto:</label>
            <div class="controls">
                <input type="text" id="piloto" name="piloto" placeholder="Filtrar por piloto" />
            </div>
            </div>       
        </div>
        <div class="span5">
            <div class="control-group"> 
                <label class="control-label" for="estado">Estado:</label>
            <div class="controls">
                <input id="estado" name="estado" type="text" placeholder="Filtrar por estado" />
            </div>
            </div> 
        </div>
        </div>
        
        <div class="row-fluid">
        <div class="span5">
            <div class="control-group">
                <label class="control-label" for="importe">Importe:</label>
            <div class="controls">
                <input type="text" id="importe" name="importe" placeholder="Filtrar por importe" />
            </div>
            </div>       
        </div>
        <div class="span5">
            <div class="control-group"> 
                <label class="control-label" for="observacion">Observación:</label>
            <div class="controls">
                <input id="observacion" name="observacion" type="text" placeholder="Filtrar por observación" />
            </div>
            </div> 
        </div>
        </div>

       <div class="control-group">
       <div class="controls"> 
            <a id="linkFilter" class="btn btn-primary" type="submit" href="#"><i class="icon-filter icon-white"></i> Filtrar</a>
       </div>
       </div> 
                
    </div>
    </div>
    </div>
    </div>
    </form>

    {{ renderMenu('menuAlquiler') }}
    
    <table id="grid" style="display:none" data-url="{{url('alquiler-listarPaginado')}}"></table>
   

{% endblock %}

{% block contentFooterModal %}
    
{% endblock %}






