<div id="consultarTarifaBoletoDIV">
    
    <div class="row-fluid"> 
        <div class="span6">
            <label class="control-label">Estaci贸n Origen:</label>
            <input class="span12" id="consultarTarifaBoletoEstacionOrigen" type="text" placeholder="Seleccione la estaci贸n de origen" />      
        </div>
        <div class="span6">
            <label class="control-label">Estaci贸n Destino:</label>
            <input class="span12" id="consultarTarifaBoletoEstacionDestino" type="text" placeholder="Seleccione la estaci贸n de destino" />       
        </div>    
    </div>
    <div class="row-fluid"> 
        <div class="span6">
            <label class="control-label">Clase Bus:</label>
            <input class="span12" id="consultarTarifaBoletoClaseBus" type="text" placeholder="Seleccione la clase de bus" />    
        </div>
        <div class="span6">
            <label class="control-label">Clase Asiento:</label>
            <input class="span12" id="consultarTarifaBoletoClaseAsiento" type="text" placeholder="Seleccione el clase de asiento" />      
        </div>    
    </div>
    <div class="row-fluid"> 
        <div class="span6">
            <label class="control-label">Tipo Pago:</label>
            <input class="span12" id="consultarTarifaBoletoTipoPago" type="text" placeholder="Seleccione el tipo de pago" />      
        </div>
        <div class="span6">
            <label class="control-label">Hora de Salida:</label>
            <div class="input-append bootstrap-timepicker">
                <input id="consultarTarifaBoletoHoraInicialSalida" type="text" class="input-small">
                <span class="add-on"><i class="icon-time"></i></span>
            </div>      
        </div>
        {#<div class="span6">
            <label class="control-label">Hora Final Salida:</label>
            <div class="input-append bootstrap-timepicker">
                <input id="consultarTarifaBoletoHoraFinalSalida" type="text" class="input-small">
                <span class="add-on"><i class="icon-time"></i></span>
            </div>    
        </div>  #}  
    </div>
    <div class="row-fluid"> 
        <div class="span6">
            <label class="control-label">Tarifa:</label>
            <div class="input-prepend">
            <span class="add-on">GTQ</span>
                <input class="span12" id="consultarTarifaBoletoTarifa" type="text" disabled placeholder="Tarifa del sistema" /> 
            </div>
        </div>    
        <div class="span6">
            
        </div>
    </div>
    
</div>