<div id="consultarTarifaEncomiendaPaqueteDIV">
    
    <div class="row-fluid"> 
        <div class="span6">
            <label class="control-label">Peso (Lb):</label>
            <input class="span10" id="consultarTarifaEncomiendaPaqueteVolumen" type="number" pattern=".*((^\d{0,5}$)|(^\d{1,5}[\.|,]\d{1,2}$)).*" placeholder="Entre el peso" />
        </div>
        <div class="span6">
            <label class="control-label">Tarifa:</label>
            <div class="input-prepend">
            <span class="add-on">GTQ</span>
                <input class="span10" id="consultarTarifaEncomiendaPaqueteTarifa" type="text" disabled placeholder="Tarifa del sistema" /> 
            </div>
        </div>   
    </div>
    
</div>