<div id="consultarTarifaEncomiendaEspecialDIV">
    
    <div class="row-fluid"> 
        <div class="span6">
            <label class="control-label">Tipo Encomienda Especial:</label>
            <input class="span10" id="consultarTarifaEncomiendaEspecialTipoEncomiendaEspecial" type="text" placeholder="Seleccione el tipo encomienda especial" />
        </div>
        <div class="span6">
            <label class="control-label">Tarifa:</label>
            <div class="input-prepend">
            <span class="add-on">GTQ</span>
                <input class="span10" id="consultarTarifaEncomiendaEspecialTarifa" type="text" disabled placeholder="Tarifa del sistema" /> 
            </div>
        </div>   
    </div>
    
</div>