/*@import url('https://fonts.googleapis.com/css?family=Open+Sans');*/

/*.containerPrint{
    font-family: "Open Sans", sans-serif;
    position : absolute;
    padding: 0px;
    margin: 0px;
    color: #000000;
    background-color: #FFFFFF;
    width: 20mm;
    height: 20mm;
    border: 2mm solid #000000;   
}*/

/*body * {display:none}
iframe {display:block}*/

/*body{
    font-size: 10pt; 
    line-height: 120%; 
    background: white;
    color:#000000;
    padding: 0px;
    margin: 0px;
    font-size:30pt;
    letter-spacing:5px;
    font-family:'Times New Roman',Times,serif;
}

pre, div{
   padding: 0px;
   margin: 0px;
}
*/